/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */
body {
	font-family: 'cartogothic_stdregular';
	font-size: 20px;
	line-height: 28px;
}

h1, h2, h3, h4, h5 {
	color: $blue-dark;
}

h1 {
	font-family: 'oswaldbook';
	font-size: 42px;
	line-height: 50px;
}

h2 {
	font-family: 'oswaldlight';
	font-size: 36px;
	line-height: 44px;
}

h3 {
	font-family: 'oswaldlight';
	font-size: 28px;
	line-height: 36px;
}

h4 {
	font-family: 'oswaldbook';
	font-size: 20px;
	line-height: 28px;
}

em {
	font-family: cartogothic_stditalic;
}

a, a:visited {
	color: $blue-dark;
	-webkit-transition: .1s color linear;
	-moz-transition: .1s color linear;
	-ms-transition: .1s color linear;
	-o-transition: .1s color linear;
	transition: .1s color linear;

	&:hover {
		color: $blue-light;
	}
}

/* 	Events Page / Eventbrite
	------------------------------------------------------- */

$eb-event-list-padding: 12px;

.eb_event_list_item {
	@extend .clearfix;
	display: block;
}

.wrapper-link {
	text-decoration: none;
}

$event_meta_w : 100px;
$event_meta_pad : 8px;

.event-meta {
	@extend .clearfix;
	font-family: 'oswaldlight';
	font-size: 24px;
	margin-bottom: 8px;
	width: $event_meta_w;
	padding: $event_meta_pad;
	float: left;
	background-color: green;
	text-align: center;
}

.event-main {
	background-color: #ccc;
	margin-bottom: 24px;
	float: right;
	width: $full-width - ($event_meta_w + 2*$event_meta_pad);
}

.eb_event_list_title {
	margin: 0;
	font-family: 'oswaldbook';
	margin-bottom: 8px;
	padding: $eb-event-list-padding $eb-event-list-padding 0;
}

$eb_event_list_info_padding: 8px;

%eb_event_list_info {
	display: block;
}

.eb_event_list_date {
	@extend %eb_event_list_info;
}

.eb_event_list_time {
	@extend %eb_event_list_info;
	@extend %eb_event_list_info_divider;
}

.eb_event_list_location {
	@extend %eb_event_list_info;
	@extend %eb_event_list_info_divider;
}

.eb_event_list_logo {
	float: right;
	margin: 0 0 18px 18px;
}

.eb_event_list_description {
	clear: left;
	font-family: cartogothic_stdregular;
	font-size: 18px;
	line-height: 28px;
	padding: $eb_event_list_info_padding;

	span {
		font-family: inherit !important; //Override raw data handed back from Eventbrite (spans with inline styles)
		font-size: inherit !important; //Override raw data handed back from Eventbrite (spans with inline styles)
	}

}