// --------------------------------------------------
// Sidebar, Widgets
// --------------------------------------------------

.feeds {
	font-size: 18px;
	line-height: 24px;
	color: $blue-dark;
}

// Facebook plugin widget

.fb-feed {
	padding: 0;
}

$fb_date_w : 100px;
$fb_date_h: 100px;

.fb-feed {
	@extend .clearfix;
}
.fb-feed-item {
	@extend %card;
	margin-left: $fb_date_w;
	width: $full-width - 100;

	blockquote {
		font-size: 14px;
		line-height: 20px;
		margin: auto;
		display: block;
		background-color: #ddd;
		border: 1px solid #aaa;
	}
}

.fb-feed-item-main {
	padding: 6px 10px;
}


