// --------------------------------------------------
// Sidebar, Widgets
// --------------------------------------------------

%feed-item-spacing {
	margin-bottom: 12px;
	padding: 6px 10px;
}

.feeds {
	font-size: 16px;
	line-height: 22px;
}

// Facebook plugin widget

.fb-feed {
	padding: 0;
}

$fb_date_w : 100px;
$fb_date_h: 100px;

.fb-feed {
	@extend .clearfix;
}
.fb-feed-item {
	@extend %feed-item-spacing;
	position: relative;
	margin-left: $fb_date_w;
	width: $full-width - 300;
	border: 1px solid #aaa;
	color: $blue-dark;
	background-color: #ddd;
	margin: auto;

	blockquote {
		font-size: 14px;
		line-height: 20px;
		margin: auto;
		display: block;
		background-color: #eee;
	}
}

